@font-face { 
    font-family: OpenSans;
    src: url('/style/fonts/GoogleSans/OpenSans-Regular.ttf');
}
@font-face { 
    font-family: NunitoSans;
    src: url('/style/fonts/GoogleSans/NunitoSans-Regular.ttf');
}
@font-face { 
    font-family: Poppins;
    src: url('/style/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face { 
    font-family: Volkhov;
    src: url('/style/fonts/Volkhov/Volkhov-Regular.ttf');
}