@font-face { 
    font-family: OpenSans;
    src: url('/style/fonts/GoogleSans/OpenSans-Regular.ttf');
}
@font-face { 
    font-family: NunitoSans;
    src: url('/style/fonts/GoogleSans/NunitoSans-Regular.ttf');
}