$font-color-basic: #212832;
$decor-back-color: #FFF1DA;
$button-background-color: #F1A501;
$step1-color: #F0BB1F;
$decor-elem-color: #DF6951;
$step2-color: #F15A2B;
$dark-elem-color: #006380;
$decor-back-gradient: #D5AEE4;
$descr-text-color: #5E6282; 
$descr-butn-text: #686D77;
$post-descr-text: #84829A;
$headline-color: #14183E;
$icon-circles-back: #F5F5F5;
$post-headline-color: #080809;
$progress-color: #8a79df;
$form-backrg-color: rgb(223, 215,249, 0.2);
$form-text-color: #39425D;