@font-face {
  font-family: OpenSans;
  src: url("/style/fonts/GoogleSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSans;
  src: url("/style/fonts/GoogleSans/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("/style/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Volkhov;
  src: url("/style/fonts/Volkhov/Volkhov-Regular.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

.nav-wrap, .lang-dropdown__wrap, .auth-block__button, .auth-wrap, .nav-bar__links, .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar {
  margin: 5.22vh 0 0 9.78vw;
  width: 80.59vw;
  height: 4.44vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__logo {
  width: 7.97vw;
  height: 3.776vh;
}

.nav-bar__text {
  font-family: "NunitoSans";
  font-weight: 600;
  font-size: 1.8888888889vh;
  line-height: 2.4444444444vh;
  color: #212832;
}

.nav-bar__link {
  margin: 0 1.7361111111vw 0 1.7361111111vw;
  position: absolute;
}

.nav-bar__text:hover {
  color: #F1A501;
  font-size: 2.4444444444vh;
  cursor: pointer;
}

.nav-bar__link_primary {
  left: 33.1944444444vw;
}

.nav-bar__link_secondary {
  left: 43.9583333333vw;
}

.nav-bar__link_tertiary {
  left: 51.9444444444vw;
}

.nav-bar__link_quaternary {
  left: 59.9305555556vw;
}

.auth-block__link_login {
  position: absolute;
  left: 71.0416666667vw;
}

.auth-block__button {
  position: absolute;
  left: 77.7083333333vw;
  width: 7.0833333333vw;
  height: 4.4444444444vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.0694444444vw solid #212832;
  border-radius: 0.3472222222vw;
  background-color: transparent;
}

.lang-dropdown__wrap {
  position: absolute;
  left: 87.7083333333vw;
}

.auth-block__text, .auth-block__button:hover, .auth-block__button {
  font-family: "NunitoSans";
  font-weight: 600;
  font-size: 1.8888888889vh;
  line-height: 2.4444444444vh;
  color: #212832;
}

.auth-block__text:hover, .auth-block__button:hover {
  color: #F1A501;
  font-size: 2.4444444444vh;
  cursor: pointer;
}

.auth-block__button:hover {
  color: #F1A501;
  font-size: 2.4444444444vh;
  cursor: pointer;
  width: 7.8472222222vw;
  height: 4.7777777778vh;
  border: 0.0694444444vw solid #F1A501;
}

.lang-dropdown__icon {
  margin-left: 0.5902777778vw;
  width: 0.625vw;
  height: 0.5vh;
}

.decor-backgr__back_top {
  width: 48%;
  height: 30.2866666667vh;
  position: absolute;
  z-index: -2;
  left: 51.7361111111vw;
  background-color: #FFF1DA;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 12%;
  top: -16.5555555556vh;
}

.decor-backgr {
  width: 48.875vw;
  height: 96.9533333333vh;
  position: absolute;
  z-index: -1;
  left: 51.0416666667vw;
  top: -16.5555555556vh;
}

.elipse-backgr {
  width: 33.2597222222vw;
  height: 55.2066666667vh;
  border-radius: 50%;
  background-color: #D5AEE4;
  position: absolute;
  -webkit-filter: blur(5.208vw);
          filter: blur(5.208vw);
  left: -29.1666666667vw;
  top: -6.6488888889vh;
  opacity: 0.3;
}

.travel-girl {
  width: 53.125vw;
  height: 84.8888888889vh;
  position: absolute;
  left: 39.2361111111vw;
  top: 11.6666666667vh;
}

.plane_permanent {
  width: 9.5340277778vw;
  height: 10.5811111111vh;
  position: absolute;
  left: 48.4722222222vw;
  top: 22.2222222222vh;
  -webkit-transform: rotate(-31.84deg);
          transform: rotate(-31.84deg);
}

.plane_secondary {
  width: 9.5340277778vw;
  height: 10.5811111111vh;
  position: absolute;
  left: 83.125vw;
  top: 26.6666666667vh;
  -webkit-transform: rotate(-31.84deg);
          transform: rotate(-31.84deg);
  z-index: -1;
}

.descr-box {
  width: 37.9861111111vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 14.4444444444vh 0 23.7777777778vh 10.2777777778vw;
}

.descr-box__tag {
  font-style: "Poppins";
  font-size: 2.2222222222vh;
  font-weight: 700;
  line-height: 3.3333333333vh;
  color: #DF6951;
}

.descr-bow__headline-wrap {
  width: 37.8472222222vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2.6666666667vh 0 3.3333333333vh 0;
}

.descr-box__headline {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 9.3333333333vh;
  line-height: 9.8888888889vh;
}

.descr-box__description-wrap {
  width: 33.125vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 3.7777777778vh;
}

.descr-box__description {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.7777777778vh;
  color: #5E6282;
  line-height: 3.3333333333vh;
}

.descr-box__buttons-section {
  width: 26.3194444444vw;
  height: 6.6666666667vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descr-box__button_primary {
  width: 11.8055555556vw;
  height: 6.6666666667vh;
  background: #F1A501;
  border-radius: 0.6944444444vw;
  border: 0;
  font-family: "NunitoSans";
  font-weight: 600;
  font-size: 2vh;
  color: #FFFFFF;
}

.descr-box__button_primary:hover {
  -webkit-box-shadow: 0px 2.2222222222vh 2.4305555556vw rgba(241, 165, 1, 0.15);
          box-shadow: 0px 2.2222222222vh 2.4305555556vw rgba(241, 165, 1, 0.15);
}

.descr-box__button_secondary-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.4583333333vw;
  height: 5.7777777778vh;
  position: relative;
}

.descr-box__button-play {
  width: 3.6111111111vw;
  height: 5.7777777778vh;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background-color: #DF6951;
}

.descr-box__button-play:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}

.button-play__triangle {
  height: 0;
  width: 0;
  border-top: 0.8333333333vh solid transparent;
  border-bottom: 0.8333333333vh solid transparent;
  border-left: 0.9027777778vw solid #FFFFFF;
  left: 1.5277777778vw;
  position: absolute;
}

.descr-box__button-text {
  font-size: 1.8888888889vh;
  line-height: 2.8888888889vh;
  font-weight: 500;
  font-family: "Poppins";
  color: #686D77;
}

.service-section {
  width: 85.2777777778vw;
  height: 58.3333333333vh;
  margin: 0 0 13.6666666667vh 8.1944444444vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.service-section__tag {
  margin: 0.8888888889vh 0 1.1111111111vh 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2vh;
  line-height: 3vh;
  color: #5E6282;
}

.service-section__headline {
  margin-bottom: 12vh;
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5.5555555556vh;
  line-height: 7.1111111111vh;
  color: #14183E;
}

.service-section__services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-section__service {
  width: 18.5416666667vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2.5vw;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.service-section__decoration {
  position: absolute;
  right: 0;
}

.service-section__chose-el {
  width: 6.9444444444vw;
  height: 11.1111111111vh;
  position: absolute;
  border-radius: 30px 0px 10px;
  z-index: -10;
  left: -3.4722222222vw;
  top: 27.7777777778vh;
}

.service-section__service:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.service-section__service:hover .service-section__chose-el {
  background-color: #DF6951;
}

.service-section__service_first {
  left: 0;
}
.service-section__service_first .service__icon-wrap {
  width: 6.3888888889vw;
  height: 8.6666666667vh;
  margin: 4.8788888889vh 0 3.2222222222vh 0;
}
.service-section__service_first .service__icon-wrap .service__icon {
  top: 4.8788888889vh;
}
.service-section__service_first .service__icon-wrap .service__icon-back {
  top: 8.1011111111vh;
  left: 8.6805555556vw;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.service-section__service_second {
  left: 22.2451388889vw;
}
.service-section__service_second .service__icon-wrap {
  width: 11.5881944444vw;
  height: 17.0366666667vh;
}
.service-section__service_second .service__icon-wrap .service__icon {
  width: 9.5340277778vw;
  height: 10.5811111111vh;
  -webkit-transform: rotate(-31.84deg);
          transform: rotate(-31.84deg);
  top: 2.9455555556vh;
}
.service-section__service_second .service__icon-wrap .service__icon-back {
  top: 4.4444444444vh;
  left: 5.8270833333vw;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.service-section__service_third {
  left: 44.4902777778vw;
}
.service-section__service_third .service__icon-wrap {
  width: 4.6527777778vw;
  height: 8.3333333333vh;
  margin: 4.6566666667vh 0 3.7777777778vh 0;
}
.service-section__service_third .service__icon-wrap .service__icon {
  width: 2.7777777778vw;
  height: 7.6666666667vh;
  top: 5.3233333333vh;
}
.service-section__service_third .service__icon-wrap .service__icon-back {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  left: 8.3333333333vw;
}

.service-section__service_forth {
  left: 66.7354166667vw;
}
.service-section__service_forth .service__icon-wrap {
  width: 5.3472222222vw;
  height: 7.3333333333vh;
  margin: 6.1055555556vh 0 3.3333333333vh 0;
}
.service-section__service_forth .service__icon-wrap .service__icon {
  width: 3.4722222222vw;
  height: 5.5555555556vh;
  top: 6.1055555556vh;
}
.service-section__service_forth .service__icon-wrap .service__icon-back {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  top: 7.9944444444vh;
  left: 8.4722222222vw;
}

.service__icon {
  z-index: 200;
  position: absolute;
}

.service__icon-back {
  width: 3.4722222222vw;
  height: 5.4444444444vh;
  background: #FFF1DA;
  position: absolute;
  z-index: 160;
  border-radius: 18px 5px 10px;
}

.service__name {
  margin-bottom: 1.6666666667vh;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2.2222222222vh;
  line-height: 3vh;
}

.service__descr-wrap {
  width: 12.5694444444vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5vh;
}

.service__descr {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.7777777778vh;
  line-height: 2.8888888889vh;
  color: #5E6282;
}

.destination-section {
  width: 76.5277777778vw;
  height: 68.5555555556vh;
  margin: 0 0 20.6666666667vh 12.0138888889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.destination-section__tag {
  font-size: 2vh;
  font-weight: 600;
  font-style: "Poppins";
  line-height: 3vh;
  color: #5E6282;
}

.destination-section__headline {
  margin: 0.8888888889vh 0 6.6666666667vh 0;
  font-family: "Volkhov";
  font-size: 5.5555555556vh;
  line-height: 7.1111111111vh;
  font-weight: 700;
  color: #14183E;
}

.destination-section__cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.destination-section__card {
  width: 21.875vw;
  height: 50.7777777778vh;
  position: relative;
  border-radius: 1.6666666667vw;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.destination-section__card:hover {
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.03151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.05121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.1)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.03151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.05121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.1)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0481481));
  width: 22.5694444444vw;
  height: 51.8888888889vh;
}
.destination-section__card:hover .dest-card__info-box {
  width: 19.4444444444vw;
}

.destination-section__card_first {
  margin-right: 2.4305555556vw;
}

.destination-section__card_second {
  margin-right: 4.1666666667vw;
}

.dest-card__photo {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1.6666666667vw;
}

.dest-card__info-box {
  border-radius: 0 0 1.6666666667vw 1.6666666667vw;
  position: absolute;
  z-index: 10;
  width: 18.75vw;
  height: 6.7777777778vh;
  bottom: 0;
  background-color: #FFFFFF;
  padding: 3vh 1.7361111111vw 4.6666666667vh 1.3888888889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-box__place-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-box__duration-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-box__place, .info-box__price {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2vh;
  line-height: 2.4444444444vh;
  color: #5E6282;
}

.info-box__icon {
  width: 1.3888888889vw;
  height: 2.2222222222vh;
  margin-right: 0.7638888889vw;
}

.info-box__duration {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7777777778vh;
  line-height: 2.2222222222vh;
  color: #5E6282;
}

.destination-section__decoration {
  position: absolute;
  right: -30px;
  bottom: 47px;
  z-index: -10;
}

.booking-section {
  width: 77.3611111111vw;
  height: 54.6666666667vh;
  margin: 0 0 22.2222222222vh 12.9166666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-section__tag {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2vh;
  line-height: 1.875vw;
  color: #5E6282;
}

.booking-section__headline-wrap {
  margin: 1.6666666667vh 8.1944444444vw 3.4444444444vh 0;
  width: 35.4861111111vw;
}

.booking-section__headline {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5.5555555556vh;
  line-height: 7.1111111111vh;
  text-transform: capitalize;
  color: #14183E;
}

.booking-section__steps-wrap {
  width: 27.4305555556vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.booking-section__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking-section__step_second {
  margin: 5.3333333333vh 0 5.3333333333vh 0;
}

.book-step__icon-box {
  width: 3.2638888889vw;
  height: 5.3333333333vh;
  border: 0;
  margin-right: 1.4583333333vw;
  border-radius: 0.9027777778vw;
  background-color: #FFF1DA;
  position: relative;
}

.book-step__icon-box_first {
  background-color: #F0BB1F;
}
.book-step__icon-box_first .book-step__icon {
  width: 1.5277777778vw;
  height: 2.4444444444vh;
  position: absolute;
  left: 0.9027777778vw;
  top: 1.3333333333vh;
}

.book-step__icon-box_second {
  background-color: #F15A2B;
}
.book-step__icon-box_second .book-step__icon {
  width: 1.53125vw;
  height: 1.9844444444vh;
  position: absolute;
  left: 0.9375vw;
  top: 1.4444444444vh;
}

.book-step__icon-box_third {
  background-color: #006380;
}
.book-step__icon-box_third .book-step__icon {
  width: 1.5625vw;
  height: 2.0833333333vh;
  position: absolute;
  left: 0.9375vw;
  top: 1.4444444444vh;
}

.book-step__text {
  width: 22.7083333333vw;
}

.book-step__headline {
  margin-bottom: 0.4444444444vh;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.7777777778vh;
  line-height: 2.2222222222vh;
  color: #5E6282;
}

.book-step__description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.7777777778vh;
  line-height: 2.2222222222vh;
  color: #5E6282;
}

.booking-section__post-wrap {
  position: relative;
}

.booking-section__post-box {
  margin: 8.6666666667vh;
  width: 23.9583333333vw;
  height: 42.2222222222vh;
  padding: 2.2222222222vh 0 0 1.7361111111vw;
  border-radius: 1.8055555556vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.booking-section__decor-ellipse {
  width: 24.5833333333vw;
  height: 40.7777777778vh;
  background: #59B1E6;
  opacity: 0.4;
  -webkit-filter: blur(75px);
          filter: blur(75px);
  position: absolute;
  z-index: -100;
  top: -1.1111111111vh;
  right: -1.3888888889vw;
}

.post-box__photo {
  margin-bottom: 2.8888888889vh;
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.6666666667vw;
}

.post-box__headline {
  margin-bottom: 1.4444444444vh;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2vh;
  line-height: 2.4444444444vh;
  letter-spacing: 0.015em;
  color: #080809;
}

.post-box__description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.3333333333vh;
}
.post-box__description-wrap p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.7777777778vh;
  line-height: 2.2222222222vh;
  letter-spacing: -0.005em;
  color: #84829A;
  margin-right: 0.2083333333vw;
}

.post-box__line {
  height: 1.7777777778vh;
  margin-right: 0.9027777778vw;
}

.post-box__icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.6527777778vw;
  height: 4vh;
  margin-bottom: 3.2222222222vh;
}

.post-box__icon-box {
  background-color: #F5F5F5;
  width: 2.5vw;
  height: 4vh;
  border-radius: 50%;
  position: relative;
}

.post-box__icon {
  width: 0.9722222222vw;
  height: 1.5555555556vh;
  position: absolute;
  left: 0.7638888889vw;
  top: 1.2222222222vh;
}

.post-box__popularity-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-box__popularity-icon {
  width: 1.1111111111vw;
  height: 1.7777777778vh;
}

.post-box__popularity-info {
  margin: 0 9.9305555556vw 0 1.0416666667vw;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.7777777778vh;
  line-height: 2.2222222222vh;
  letter-spacing: -0.005em;
  color: #84829A;
}

.post-box__heart-icon {
  width: 1.3888888889vw;
  height: 2.0644444444vh;
}

.booking-section__post-addition {
  width: 18.2638888889vw;
  height: 14.3333333333vh;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 1.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 30;
  bottom: 63px;
  right: -37px;
}

.post-addition__picture-box {
  position: relative;
  width: 3.4722222222vw;
  height: 5.5555555556vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 2vh 0.6944444444vw 0 1.3888888889vw;
}

.post-addition__photo {
  width: 5.1388888889vw;
  height: 7.3333333333vh;
  position: absolute;
  z-index: 4;
  left: -0.9027777778vw;
}

.post-addition__tag {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.5555555556vh;
  line-height: 1.8888888889vh;
  letter-spacing: -0.035em;
  color: #84829A;
  margin: 1.7777777778vh 0 0.6666666667vh 0.1388888889vw;
}

.post-addition__headline {
  color: #080809;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2vh;
  line-height: 2.4444444444vh;
  letter-spacing: 0.015em;
  margin-bottom: 1.5555555556vh;
}

.post-addition__progress-text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.post-addition__progress-text_wrap p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.5555555556vh;
  line-height: 1.8888888889vh;
  letter-spacing: -0.055em;
  margin-bottom: 1.1111111111vh;
}

.post-addition__progress-perc {
  color: #8a79df;
}

.post-addition__progress-status {
  color: #080809;
}

.post-addition__progress-bar {
  width: 10.8333333333vw;
  height: 0.5555555556vh;
  border-radius: 2.0833333333vw;
  background-color: #F5F5F5;
  position: relative;
}

.post-addition__progress-compl {
  background-color: #8a79df;
  width: 5.0694444444vw;
  height: 0.5555555556vh;
  border-radius: 2.0833333333vw;
}

.termination-section {
  margin: 0 0 19.2222222222vh 12.9166666667vw;
  width: 72.0138888889vw;
  height: 31vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.termination-section__tag {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2vh;
  line-height: 3vh;
  color: #5E6282;
  margin: 1vh 0 0.8888888889vh 0;
}

.termination-section__left-block {
  width: 28.4027777778vw;
}

.termination-section__headline {
  font-family: "Volkhov";
  font-weight: 800;
  font-size: 5.5555555556vh;
  line-height: 7.1111111111vh;
  text-transform: capitalize;
  color: #14183E;
}

.termination-section__right-block {
  position: relative;
  width: 37.5694444444vw;
  height: 31vh;
}

.termination-section__text {
  width: 32.6388888889vw;
  height: 27.2222222222vh;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 2.3611111111vw;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 0.6944444444vw;
}
.termination-section__text p {
  font-family: "Poppins";
  color: #5E6282;
}

.termination-section__quote-wrap {
  width: 27.9166666667vw;
  margin: 3.1111111111vh 0 3.7777777778vh 0;
}

.termination-section__quote {
  font-size: 1.7777777778vh;
  line-height: 3.5555555556vh;
  font-weight: 600;
}

.termination-section__author {
  font-size: 2vh;
  line-height: 3vh;
  font-weight: 700;
  margin-bottom: 0.5555555556vh;
}

.termination-section__location {
  font-size: 1.5555555556vh;
  line-height: 2.3333333333vh;
  font-weight: 500;
  margin-bottom: 3.7777777778vh;
}

.termination-section__photo {
  width: 4.7222222222vw;
  height: 7.5555555556vh;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.logos-section {
  height: 18vh;
  width: 84.2361111111vw;
  margin: 0 0 12.3333333333vh 9.0277777778vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logos-section__logo-wrap {
  width: 16.7361111111vw;
  height: 9.5555555556vh;
  position: relative;
  border-radius: 0.6944444444vw;
  overflow: hidden;
}

.logos-section__logo {
  position: absolute;
}

.logos-section__logo-wrap:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.logos-section__logo_first {
  width: 9.0277777778vw;
  height: 14.4444444444vh;
  left: 3.6111111111vw;
  top: -2.2222222222vh;
}

.logos-section__logo_second {
  width: 12.0041666667vw;
  height: 12.2222222222vh;
  left: 2.7777777778vw;
  top: -1.3333333333vh;
}

.logos-section__logo_third {
  width: 11.25vw;
  height: 18vh;
  left: 2.7777777778vw;
  top: -4.3333333333vh;
}

.logos-section__logo_forth {
  width: 11.25vw;
  height: 3.5555555556vh;
  left: 2.0833333333vw;
  top: 2.7777777778vh;
}

.logos-section__logo_fifth {
  width: 6.5277777778vw;
  height: 2.3333333333vh;
  left: 4.8611111111vw;
  top: 3.3333333333vh;
}/*# sourceMappingURL=style.css.map */